@using DataModelLibrary
@{
    ViewBag.Title = "UploadStudent";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Student List</h3>
    </div>
    <div class="panel-body">
        <div id="grid" class="jqGrid">
            @using (Html.BeginForm("Upload", "Contact", null, FormMethod.Post, new { enctype = "multipart/form-data",@class="form form-inline" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form‐group">
                    <input type="file" id="dataFile" name="upload" class="form-control" />
                    <input type="submit" value="Upload" class="btn btn-success" />
                </div>
            }
            </div>
        @if (ViewBag.Class != null) {
            var classlist = (List<SubscriberStandards>)ViewBag.Class;
            foreach (var ss in classlist)
            {
                <div>
                    <span class="text-success">Class Added : @ss.Standard.Name</span>
                </div>
            }
        }
        @if (ViewBag.ClassSection != null)
        {
            var classlist = (List<Tuple<string,string>>)ViewBag.ClassSection;
            foreach (var ss in classlist)
            {
                <div>
                    <span class="text-success">Class @ss.Item1 - Section @ss.Item2</span>
                </div>
            }
        }
        @if (ViewBag.Contacts != null)
        {
            var classlist = (List<ContactViewModel>)ViewBag.Contacts;
            if (classlist.Count > 0)
            {
                    <span class="text-success"> Contact Created</span>
            }
            foreach (var ss in classlist)
            {
                <div>
                    <span class="text-success"> @ss.Name -@ss.RollNo-@ss.Mobile</span>
                </div>
            }
        }
        </div>
    </div>

