<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-default navbar-fixed-top">
        <div class="row clearfix col-lg-12">
            <img class="img-responsive img-rounded" src="~/Content/Image/SMSbanner.png" alt="SMS Portal">
        </div>
    </div>*@
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                
                @{
                    if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <div class="btn-group">
                                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                                    Admin Action
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li>@Html.ActionLink("Manage Subscriber", "List", "User")</li>
                                    <li>@Html.ActionLink("Manage Role", "GetRoleView", "Role")</li>
                                    <li>@Html.ActionLink("Manage UserRole", "GetUserRolesView", "ManageUserRoles")</li>
                                </ul>
                            </div>



                        }
                        if (User.IsInRole("Subscriber"))
                        {
                            <div class="btn-group ">
                                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                                    Subriber Action
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li>@Html.ActionLink("Manage Student", "GetContactView", "Contact")</li>
                                    <li>@Html.ActionLink("Manage Class", "Index", "Standard")</li>
                                    <li>@Html.ActionLink("Manage Section", "Index", "Section")</li>
                                    <li>@Html.ActionLink("Manage Class Section", "Index", "SubscriberStandardSections")</li>
                                    <li>@Html.ActionLink("Manage Template", "TemplateView", "Template")</li>
                                    <li>@Html.ActionLink("Send SMS", "Sendsms", "Notify")</li>
                                    <li>@Html.ActionLink("Sent History", "GetMessageHistoryView", "Notify")</li>

                                </ul>
                            </div>


                        }
                    }
                }


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")

        @RenderBody()
        <hr />
        <footer style="position: fixed; bottom: 1%;">
            <p>&copy; @DateTime.Now.Year -POC Application</p>
        </footer>

        @RenderSection("scripts", required: false)
        </div>
</body>
</html>
